<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
     <h5 modal-title>Nova tarefa</h5>
     <div modal-body>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="task.name">
        </div>
     </div>
     <div modal-footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
     </div>
  </modal>
</form>
